*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --l-gray: gainsboro;
    --silver: #C0C0C0;
    --dark-gray: #A9A9A9;
    --gray: #808080;
    --blue-gray: #708090;
    --green-gray: #2F4F4F;
    --black: #000000;
}

#wrapper{
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    margin: 0 auto;
    grid-template-areas:
     "header header header header header"
     "main main main main main"    
     "section section section section section"
     "footer footer footer footer footer";
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

 ul {
   display: flex;
   justify-content: space-between;
   padding: 15px 10px;
   text-align: center;
   align-items: center;
}

li{
    list-style: none;
    color: white;
    font-size: large;
    font-weight: 600;      
}

header{
    background-color: var(--green-gray);
    grid-area: header;
}
a{
   text-decoration: none;
   color: white;
}

.title-section {
    text-align: center;
    padding: 40px;
    background-color: var(--dark-gray);
}

.title-h1{
    width: auto;
    margin: 0 35%;
    background-color: white;
}

.title-h1-2 {
    width: auto;
    margin: 0 43%;
    background-color: white;
}

.title-flex-1 {
    margin-top: -25px;
    float: right;
}

.title-img {
    width: 30px;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.navlinka{
    padding: 5px 10px 7px 10px;
}

.navlinka:hover{
    height: 30px;

    background-color: var(--dark-gray);
    border-radius: 5px;
}

.navlinkmore{
    background-color: var(--black);
    border-radius: 5px;
}

.logoimage-style{
    height: 100%;
    width: 200px;
    font-size: 30px;
}

.searchinput-style{
  padding: 15px 55px;
  border: 1px solid var(--gray);
  border-radius: 12px;

}

.sarchicon-style{
    position: relative;   
}

.fa-search{
    position: absolute;
    left: 3px;
    color: var(--gray);    
    top:15px;
}

main{    
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


.flexcontainer{
    display: flex;
    align-items: center;
}

.flexcontainer > * {
    margin: 0 8px;
}

.flexcontainer-1 {
    display: flex;
}

.class1{
    padding: 90px 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative; 
    height: 600px;
}

 .div1{
     background-color: var(--black);
 }

 .div2{
    background-color: var(--silver);
}

.div3{
    background-color: var(--green-gray);
}

.div4{
    background-color: var(--blue-gray);
}

.imgmain{
    transform: rotate(-15deg);
    border-radius: 10px; 
    cursor: pointer;
}

.imgmain:hover {
     transform: none;
}  

section{
 grid-area: section;
}

footer{
   grid-area: footer;
}

.latest-posts {
    display: flex;
    height: 550px;
    cursor: pointer;
}

.flex-box-1,
.flex-box-2,
.flex-box-3,
.flex-box-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

body span {
    color: transparent;
    background-color: var(--gray);
}

.flex-box-1 {   
    background-color: var(--dark-gray);    
}

.flex-box-2 {
    background-color: var(--l-gray);
}

.flex-box-3 {
    background-color: var(--dark-gray);
}

.arrow-button {
    background-color: white;
    width: 70px;
    color: black;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.classhover:hover{
    transform: scale(1.1, 1.1);
}

.latest-posts-2{
    display: flex;
    margin-top: 15px;
    cursor: pointer;
}

.flex-box-4{
   width: 500px;   
   height: 600px;
   background-color: var(--green-gray);
   border-radius: 3%;
}

.flex-box-5{
    background-color: var(--silver);
    width: 460px;
    height: 600px;
    position: relative;
}

.middle-box {
    margin: 0 10px;
}

.articles-links {
    width: 200px;
    font-size: 15px;
    margin: 40px auto;
    padding: 0 0  10px 15px;    
    border-bottom: 4px solid rgb(44, 42, 42);
}

.articles-links a{   
    color: black;
    cursor: pointer;
  
}

.person-weeks{
    display: flex;
}

.imgperson{
    transform: rotate(-15deg);
    border-radius: 10px; 
    cursor: pointer;
}

.imgperson{
    transform: rotate(0deg);
}

.person-weeks div p a{
    color: rgb(66, 66, 168);
}

.writter-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.writter-flexbox{
    display: flex;
}

