* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --l-gray: gainsboro;
  --silver: #c0c0c0;
  --dark-gray: #a9a9a9;
  --gray: #808080;
  --blue-gray: #d3d3d3;
  --green-gray: #696969;
  --black: #000;
}

#wrapper {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
  margin: 0 auto;
  grid-template-areas:
    "header header header header header"
    "main main main main main"
    "section section section section section"
    "footer footer footer footer footer";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  justify-content: space-between;
  padding: 15px 10px;
  text-align: center;
  align-items: center;
}

header {
  background-color: var(--green-gray);
  grid-area: header;
}

a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
}

.title-section {
  text-align: center;
  padding: 40px;
  background-color: var(--dark-gray);
}

.title-flex-1 {
  margin-top: -25px;
  float: right;
}

.title-img {
  width: 30px;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

footer ul {
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
}

footer ul li {
  margin: 0 15px;
}

.navlink li {
  list-style: none;
  color: white;
  font-size: large;
  font-weight: 600;
}

.navlinka {
  padding: 5px 10px 7px 10px;
}

.navlinka:hover {
  height: 30px;
  background-color: var(--dark-gray);
  border-radius: 5px;
  cursor: pointer;
}

.navlinkmore {
  background-color: var(--black);
  padding: 5px;
  border-radius: 5px;
}

.logoimage-style {
  height: 100%;
  width: 300px;
  font-size: 30px;
}

.searchinput-style {
  padding: 15px 55px;
  border: 1px solid var(--gray);
  border-radius: 12px;
}

.sarchicon-style {
  position: relative;
}

.fa-search {
  position: absolute;
  left: 3px;
  color: var(--gray);
  top: 15px;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flexcontainer {
  align-items: center;
}

.flexcontainer > * {
  margin: 0 8px;
}

.class1 {
  padding: 90px 20px;
  color: white;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  height: 600px;
}

.div1 {
  background-color: var(--l-gray);
}

.div2 {
  background-color: var(--silver);
}

.div3 {
  background-color: var(--green-gray);
}

.div4 {
  background-color: var(--blue-gray);
}

.imgmain {
  transform: rotate(-15deg);
  border-radius: 10px;
  cursor: pointer;
}

.imgmain:hover {
  transform: none;
}

section {
  grid-area: section;
}

.latest-posts {
  height: 550px;
  cursor: pointer;
  margin-top: 10px;
}

.flex-box-1,
.flex-box-2,
.flex-box-3,
.flex-box-5,
.flex-box-6,
.flex-box-7 {
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

body span {
  color: transparent;
  background-color: var(--gray);
  line-height: 30px;
}

.flex-box-1 {
  background-color: var(--dark-gray);
}

.flex-box-2 {
  background-color: var(--l-gray);
}

.flex-box-3 {
  background-color: var(--dark-gray);
}

.flex-box-5 {
  background-color: var(--silver);
}

.flex-box-6 {
  background-color: var(--blue-gray);
}

.flex-box-7 {
  background-color: var(--dark-gray);
}

button {
  cursor: pointer;
  padding: 7px;
  border-radius: 7px;
  border: transparent;
}

.fa-arrow-right {
  color: var(--black);
  font-size: 30px;
}

.arrow-button {
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--gray);
}

.classhover:hover {
  transform: scale(1.1, 1.1);
}

.latest-posts-2 {
  margin-top: 15px;
  cursor: pointer;
}

.flex-box-4 {
  text-align: center;
  width: 500px;
  height: 600px;
  background-color: var(--green-gray);
  border-radius: 3%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.class2 {
  margin-left: 10px;
}

.flex-box-5,
.flex-box-6,
.flex-box-7 {
  width: 460px;
  height: 600px;
  position: relative;
}

.middle-box {
  margin: 0 10px;
}

.articles-links {
  width: 200px;
  font-size: 15px;
  margin: 40px auto;
  padding: 0 0  10px 15px;
  border-bottom: 4px solid rgb(44, 42, 42);
}

.articles-links a {
  color: black;
  cursor: pointer;
}

.person-weeks {
  background-color: var(--silver);
  border-radius: 10px;
}

.imgperson {
  transform: rotate(-15deg);
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 20px;
  height: 150px;
  width: 150px;
}

.imgperson:hover {
  transform: rotate(0deg);
}

.person-weeks div {
  margin: 20px auto;
}

.footer-bottom div a {
  margin: 0 5px;
}

.writter-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 40px;
}

.writter-flexbox {
  margin: 5px 7.5px 15px 7.5px;
  padding: 10px;
  border-radius: 5px;
}

.writer-1 {
  background-color: var(--green-gray);
}

.writer-2 {
  background-color: var(--dark-gray);
}

.writer-3 {
  background-color: var(--blue-gray);
}

.img-writter {
  margin-right: 15px;
}

.div-writter {
  height: 200px;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-guides {
  flex-wrap: wrap;
  justify-content: center;
}

.guide-flexbox,
.guide-flexbox-4 {
  width: 500px;
  margin: 10px 5px;
  padding: 25px 10px 25px 25px;
  flex-direction: column;
  background-color: var(--green-gray);
  border-radius: 15px;
}

.guide-flexbox {
  justify-content: space-between;
  align-self: center;
}

.guide-flexbox-3 {
  height: 400px;
}

.guide-flexbox-4 {
  height: 600px;
  margin: 10px 5px 0 5px;
}

.guide-flexbox-4 > * {
  margin: 10px 0;
}

.guide-flexbox button,
.guide-flexbox-4 button {
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  outline: none;
  border: solid 2px black;
}

footer {
  background-color: var(--l-gray);
  width: 100%;
  grid-area: footer;
  padding: 0 0 20px 0;
}

footer h2 {
  justify-content: center;
  margin: 50px auto 30px auto;
}

footer ul li span:hover {
  background-color: white;
}

.footer-bottom {
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0;
}

.footer-bottom p {
  margin: 5px auto;
}

.footer-bottom div {
  margin: 15px auto;
}

.smash-memb {
  height: 330px;
  position: relative;
  background-color: var(--blue-gray);
}

.memb-text {
  width: 50%;
  margin: 0 auto;
}

.pic-memb-1 {
  position: absolute;
  top: 50px;
  right: -400px;
}

.shipping-box {
  width: 100%;
  margin: 20px 0;
}

.smash-book {
  border-radius: 10px;
  height: 240px;
  position: relative;
}

.smash-book li {
  list-style: none;
}

.pic-memb {
  position: absolute;
  right: 150px;
  top: 70px;
}
