*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#wrapper{
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    margin: 0 auto;
    grid-template-areas:
     "header header header header header"
     "main main main main main"
     "aside aside aside aside aside"
     "section section section section section"
     "footer footer footer footer footer";
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

 ul {
   display: flex;
   justify-content: space-between;
   padding: 15px 10px;
   text-align: center;
   align-items: center;
}

li{
    list-style: none;
    color: white;
    font-size: large;
    font-weight: 600;      
}

header{
    background-color: rgb(108, 112, 112);
    grid-area: header;
}

.title-section {
    text-align: center;
    padding: 40px;
    background-color: rgb(90, 90, 90);
}

.title-flex {
    width: 400px;
}

.title-flex-1 {
    float: right;
}


.title-img {
    width: 30px;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
}

.navlinka{
    padding: 5px 10px 7px 10px;
}

.navlinka:hover{
    height: 30px;
    width: auto;
    background-color: rgb(39, 36, 36);
    border: 1px solid rgb(39, 37, 37);
    border-radius: 5px;
}

.navlinkmore{
    background-color: rgb(83, 78, 78);
    border: 1px solid rgb(97, 94, 94);
    border-radius: 5px;
}

.logoimage-style{
    height: 100%;
    width: 200px;
    font-size: 30px;
}

.searchinput-style{
  padding: 15px 55px;
  border: 1px solid grey;
  border-radius: 12px;

}

.sarchicon-style{
    position: relative;   
}
.fa-search{
    position: absolute;
    left: 3px;
    color: rgb(75, 73, 73);    
    top:15px;
}

main{    
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 600px;
}


.flexcontainer{
    display: flex;
    align-items: center;
}

.flexcontainer > * {
    margin: 0 8px;
}

.flexcontainer-1 {
    display: flex;
}

.class1{
    padding: 50px;
    color: white;
    display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: space-between;
     
}

main div h3, main div p{
    padding-right: 10px;
}

 .div1{
     background-color: rgb(122, 106, 106);
 }

 .div2{
    background-color: rgb(202, 190, 190);
}

.div3{
    background-color: rgb(184, 171, 171);
}

.div4{
    background-color: rgb(99, 97, 97);
}

.imgmain{
    transform: rotate(-10deg);
    border-radius: 10px; 
    cursor: pointer;
}

.imgmain:hover {
     transform: none;
}  

.flexbottom{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

main div span{    
    font-size: 60px;   
}

aside{
  background-color: blue;
  grid-area: aside;
}

section{
 background-color: coral;
 grid-area: section;
}

footer{
   background-color: cyan;
   grid-area: footer;
}

.latest-posts {
    display: flex;
    height: 426px;
    cursor: pointer;
}

.flex-box-1 {
    background-color: rgb(85, 85, 85);
}

.flex-box-2 {
    background-color: rgb(63, 63, 63);
}

.flex-box-3 {
    background-color: rgb(160, 160, 160);
}

.latest-posts > div > * {
   margin: 50px 0;
}

.arrow-button {
    background-color: grey;
    width: 70px;
    padding: 20px;
}
